
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
venv/
.env
*.env

# SQLite (just in case)
*.sqlite3

# Django stuff
staticfiles/
media/

# Node
node_modules/
dist/
build/

# IDE
.vscode/ 
.idea/

.DS_Store

e2i/orchestrator/logs/
